
@font-face{
   font-family:"battlefieldv4"; 
   src: url(../FONTS/battlefieldv4.ttf);

 }
@font-face
{
 font-family:Akashi;
 src: url(../FONTS/Akashi.ttf)
}

body{
		margin:10px;
		background-image: url(../IMAGES/thumb-1920-361914.jpg)
	}
	
.container{
		
		height:auto;
		/*background-color:#0C0;*/
	
	}
.nav{
	z-index:1;
	background-color:#FFF;
	position:fixed;
	height:80px;
	width:100%;
	opacity:0.7;
	border-bottom:1px solid #FFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
	

	
	}
	.nav a:hover{
	color:#090;
	
	}
.nav ul{
		padding:10px;
		margin:10px;
		margin-top:20px;
		vertical-align:middle;
		list-style:none;
	
	}
.nav ul li a{
		margin-left:10px;
		color:#000;
		font-weight:600;;
		display:block;
		text-decoration:none;
		font-family:Akashi;
		font-size:23px;
		
		transition:0.17s;
	}
.nav ul li{
	float:left;
	
}
.nav ul li a span{
		color:#F00;
	}
.detail{
	height:100px;
	font-family:"battlefieldv4";
	   font-size:24px;
	   text-align:center;
	}
.content{
	position:relative;
	top:100px;
	height:80%;
	/*background:#036;*/
	}
.box{
	display:                 flex;
  	display:                 -webkit-flex; 
 	 flex-wrap:               wrap;
  	-webkit-flex-wrap:       wrap;         
  	justify-content:         center;
  	-webkit-justify-content: center;
	position:relative;
	/*background:#C0F;*/
	height:80%;
	
	}
.card{	
		position:relative;
		margin:20px;
		background:#F0F;
		height:150px;
		width:300px;
		float:left;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition:0.5s;
	}
.facebook{
	
		background-image:url(../IMAGES/SOCIALMEDIAICONS/facebookRect.png);
		background-size:100% 100%;
		background-repeat: no-repeat;
	
	}
.google{
	
	background-image:url(../IMAGES/SOCIALMEDIAICONS/googleRect.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	
	}
.twitter{
	
	background-image:url(../IMAGES/SOCIALMEDIAICONS/twitterRec.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	
	}
.linkedin{
	
	background-image:url(../IMAGES/SOCIALMEDIAICONS/linkedinRect.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	}
.youtube{
	background-color:#3C0;
	background-image:url(../IMAGES/SOCIALMEDIAICONS/youtubeRect.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	}
.instagram{

	background-image:url(../IMAGES/SOCIALMEDIAICONS/instagramRect.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	}
.yts{

	background-image:url(../IMAGES/SOCIALMEDIAICONS/pcmweb_yts-logo-largest.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
	}
.torrent_LLsTCZo{

	background-image:url(../IMAGES/SOCIALMEDIAICONS/torrent_LLsTCZo.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
	
    }
  
    .card:hover{
	
        transform:scale(1.2);
        cursor:pointer;
        
        }    
    
	.footer{
		width:100%;
	position:fixed;
	height:70px;
	bottom:0px;
	background:#333;
	}
/* .footer div{
	
position:relative;
	top:25%;
	float: left;
	color: #FFF;
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	font-weight: 200;
}

.footer div span{
    color: #F29E20 ;
    text-align:center;
}*/
